---
- name: Clone caldera
  ansible.builtin.git:
    repo: 'https://github.com/mitre/caldera.git'
    dest: /opt/caldera
    recursive: true
    track_submodules: true
    force: true
    version: "{{ ludus_caldera_git }}"

- name: Copy custom config
  ansible.builtin.template:
    src: local.yml.j2
    dest: /opt/caldera/conf/local.yml

- name: Install caldera python requirements
  ansible.builtin.pip:
    requirements: "{{ item }}"
    virtualenv: /opt/caldera/venv
  loop:
    - /opt/caldera/requirements.txt
    - /opt/caldera/requirements-dev.txt

- name: Install emu python requirements
  ansible.builtin.pip:
    requirements: /opt/caldera/plugins/emu/requirements.txt
    virtualenv: /opt/caldera/venv
  when: '"emu" in ludus_caldera_plugins'

- name: Install human python requirements
  ansible.builtin.pip:
    requirements: "{{ item }}"
    virtualenv: /opt/caldera/venv
  when: '"human" in ludus_caldera_plugins'
  loop:
    - /opt/caldera/plugins/human/pyhuman/requirements.txt
    - /opt/caldera/plugins/human/requirements.txt

- name: Install stockpile python requirements
  ansible.builtin.pip:
    requirements: /opt/caldera/plugins/stockpile/requirements.txt
    virtualenv: /opt/caldera/venv
  when: '"stockpile" in ludus_caldera_plugins'

- name: Install builder python requirements
  ansible.builtin.pip:
    requirements: /opt/caldera/plugins/builder/requirements.txt
    virtualenv: /opt/caldera/venv
  when: '"builder" in ludus_caldera_plugins'

- name: Install caldera python fix AsyncSSH error
  ansible.builtin.pip:
    name: asyncssh
    state: latest
    virtualenv: /opt/caldera/venv

- name: Clone atomic read team plugins 
  ansible.builtin.git:
    repo: 'https://github.com/redcanaryco/atomic-red-team.git'
    dest: /opt/caldera/plugins/atomic/data/atomic-red-team
    depth: 1
    force: true
  when: '"atomic" in ludus_caldera_plugins'

- name: Pull docker images for builder plugins
  community.docker.docker_image_pull:
    name: "{{ item }}"
  when: '"builder" in ludus_caldera_plugins'
  loop:
    - 'mono:latest'
    - 'dockcross/windows-static-x64:latest'
    - 'dockcross/windows-static-x86:latest'
    - 'golang:latest'

- name: Copy custom magma .env
  ansible.builtin.template:
    src: magma.env.j2
    dest: /opt/caldera/plugins/magma/.env

- name: Caldera - Magma plugins
  ansible.builtin.command:
    cmd: "{{ item }}" 
    chdir: /opt/caldera/plugins/magma
  loop:
    - npm install
    - npm run build
